<section class="h-full m-0 p-0">
  <div class="absolute left-0 top-0 w-full h-full bg-appGreen">
    <div class="relative mt-0 pt-5 pb-0 mb-20 h-3/4 bg-appBlue">

      <!-- main content  -->
      <!-- Logo  -->
      <div class="relative flex justify-center md:justify-between mb-5 z-10">
        <div class="w-6/12 md:w-3/12 mx-5">
          <img src="../../assets/images/logo/Schtroumps.png" alt="schtroumps-logo">
        </div>
        <div class="w-15 mx-5 hidden md:block">
          <img class="rounded-full" src="../../../assets/images/avatar/avatar.jpg" alt="">
        </div>
      </div>
       <!-- navbar  -->
       <div class="flex flex-wrap justify-center mt-5 p-2">
        <ul class="uppercase text-blueGray-600 font-bold text-xl">
          <li class="inline-block mx-10 hover:text-red-700">
            <a routerLink="/dashboard">Accueil</a>
          </li>
          <li class="inline-block mx-10 hover:text-red-700">
            <a href="#">Amis</a>
          </li>
          <li class="inline-block mx-10 hover:text-red-700">
            <a href="#">Schtroumps</a>
          </li>
        </ul>
       </div>
      <div class="flex flex-col">
        <!-- login card  -->
        <router-outlet></router-outlet>

      </div>

      <!-- Bottom Relief  -->
      <div class="absolute left-0 -bottom-1  w-full">
        <svg width="100%" height="62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1439.93 61.62H348.429H-3.57053C-5.40387 48.12 -7.97053 21.12 -3.57053 21.12C1.92947 21.12 15.4295 40.12 56.4295 21.12C97.4295 2.12002 157.429 4.62 181.929 40.12C206.429 75.62 362.429 21.12 413.929 4.62C465.429 -11.88 637.929 21.12 670.429 21.12C702.929 21.12 1109.93 40.12 1216.43 21.12C1301.63 5.92001 1400.93 14.7867 1439.93 21.12V61.62Z"
            fill="#12B10F" />
        </svg>

      </div>
    </div>
  </div>
</section>

