<!-- login card  -->
<div class="relative bg-white shadow-lg rounded-lg mt-5 mx-2 py-2">
  <div class="p-2 mt-5">
    <h2 class="font-bold text-lg text-blueGray-700 text-center uppercase">S'enregister</h2>
  </div>
  <form>
    <div class="flex flex-col p-2 mx-5 mt-3">
      <label class="font-bold text-blueGray-700" for="username">Nom d'utilisateur</label>
      <input type="text" id="username"
        class="rounded border boreder-1 p-2 mt-2 border-blueGray-300 focus:outline-none focus:border-sky-500 focus:shadow-sm focus:shadow-sky-300">
    </div>
    <div class="flex flex-col p-2 mx-5 mt-3">
      <label class="font-bold text-blueGray-700" for="password">Mot de pass</label>
      <input type="password" id="password"
        class="rounded border boreder-1 p-2 mt-2 border-blueGray-300 focus:outline-none focus:border-sky-500 focus:shadow-sm focus:shadow-sky-300">
    </div>
    <div class="flex flex-col p-2 mx-5 mt-3">
      <label class="font-bold text-blueGray-700" for="password_conformation">Confirmer le mot de pass</label>
      <input type="password" id="password_conformation"
        class="rounded border boreder-1 p-2 mt-2 border-blueGray-300 focus:outline-none focus:border-sky-500 focus:shadow-sm focus:shadow-sky-300">
    </div>
    <div class="flex justify-between m-5 p-2">
      <a class="underline active:text-sky-700" routerLink="/auth/login">J'ai déjà un compte</a>
      <button
        class="bg-blue-600 px-10 py-2 rounded text-white font-bold active:bg-blue-700 active:shadow active:shadow-blue-300"
        type="submit">Connexion</button>
    </div>

  </form>
</div>
