<section class="relative my-10 mt-10 z-20">
  <!-- Counting cards  -->
  <div class="grid md:grid-cols-2 md:gap-28 md:mx-56 mx-5 mb-5 gap-4">
    <div class="flex justify-between bg-white rounded shadow py-2 px-5 w-full">
      <div class="m-2 w-20">
        <img src="../../assets/images/smurfs.jpg" alt="">
      </div>
      <div class="m-2 text-end">
        <h3 class="text-blueGray-600 font-bold text-2xl uppercase">Schtroumps</h3>
        <h3 class="text-blueGray-600 font-bold text-4xl uppercase">24</h3>
      </div>
    </div>
    <div class="flex justify-between bg-white rounded shadow py-2 px-5 w-full">
      <div class="m-2 w-20">
        <img src="../../assets/images/amismurf.jpg" alt="">
      </div>
      <div class="m-2 text-end">
        <h3 class="text-blueGray-600 font-bold text-2xl uppercase">Amis</h3>
        <h3 class="text-blueGray-600 font-bold text-4xl uppercase">5</h3>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-16">
    <button class="uppercase bg-red-600 active:bg-red-700 text-white rounded shadow active:shadow-none font-bold px-8 py-2"
            type="button"
            (click)="openModal()"
    >
        Ajouter un(e) nouvel(le) ami(e)
    </button>
  </div>
  <app-new-freind [modalStatus]="openModalStatus" (modalEvent)="initiatModalStatus()"></app-new-freind>
</section>
